.hero-container {
    width: 100%;
    height: 260px;
    background-color: #ffffff;
    background-image: radial-gradient(#cacbdb69 2px, #ffffff 2px);
    background-size: 30px 30px;
    display: flex;
    align-items: flex-start;
    margin-top: 54px;
    padding: 0px 6px;

    .hero-title {
        flex: 1;
        font-family: 'Rubik', sans-serif;
        font-size: 28px;
        font-weight: 800;
        padding: 50px 10px;

        #violet {
            color: var(--primary);
        }

        #green {
            color: var(--secondary);
        }

        >div {
            display: flex;
            gap: 5px;
        }
    }

    .hero-image {
        flex: 1;

        img {
            width: 120px;
            object-fit: contain;
            margin-left: 24px;
        }

        align-self: flex-end;
    }
}