.footer-container {
    padding: 15px 20px 20px 20px;
    position: fixed;
    inset: 0px;
    top: auto;
    background-color: #fff;
    align-items: flex-end;
    flex-direction: column;
    box-shadow: 1px 1px 10px 0px rgba(0, 0, 0, 0.2);
    transition: all .2s ease-in;
    max-height: 300px;

    &.open {
        padding: 25px 20px;
        max-height: 600px;
        border-radius: 20px 20px 0px 0px;
        box-shadow: 1px 1px 10px 1100px #433c708e;

       

        .footer-modal-content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            height: 100%;
            gap: 8px;

            >span {
                font-size: 22px;
                font-weight: 700;
            }

            >div {
                display: flex;
                gap: 20px;
                align-items: center;
                padding: 10px 10px;
                max-width: 90%;
                text-align: left;

                >svg {
                    font-size: 25px;
                    width: 40px;
                    height: 40px;
                    background-color: #EFF1F4;
                    padding: 10px;
                    border-radius: 50px;
                }

                >div {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    >span {
                        font-size: 16px;
                        font-weight: 700;
                    }

                    >span+span {
                        font-size: 16px;
                        font-weight: 400;
                    }
                }

            }
        }
    }

    .quiz-warning {
        align-self: center;
        background-color: #EFF1F4;
        max-width: 60%;
        font-size: 12px;
        font-weight: 400;
        border-radius: 8px;
        margin: 20px 0px;

        svg {
            font-size: 2px;
            height: 14px !important;
            width: 14px !important;
            color: #fff;
            background-color: #75189F !important;
            border-radius: 50px;
            padding: 0px !important;
        }
    }



    button {
        margin-top: 15px;
        height: 12%;
        background-color: #75189F;
        color: #fff;
        border-radius: 50px;
        font-weight: 500;
        padding: 10px;
        width: 40%;
    }
}