:root {
  --primary: #75189F;
  --secondary: #129862;
  color: #423D55;
  font-family: 'Rubik', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}